#article-list.container.home
  section
    img(src="/cow.jpg")
  section
    p Thanks for downloading and running <a href="http://semu.mp/node-blog.html">node-blog</a>, I really appreciate it! With node-blog you have a basic weblog system written in Node.js managed by a folder containing markdown files. All article composing can be done within the web browser using the awesome <a href="http://ace.ajax.org/">Ace editor</a>. Unfortunately there is no other way for changing the layout or static pages than to manually edit the raw jade templates, this may change in future releases…
    p You are viewing the first release of node-blog, please be kind ;) All needed information to start your own blog using node-blog and how to customize the design can be found in the <code>markdown/</code> folder or as <a href="/posts">posts on this site</a>.
    p <a href="http://semu.mp/node-blog.html">node-blog</a> makes use of some awesome projects already existing out in the wild: <a href="http://nodejs.org">Node.js</a>, <a href="http://twitter.github.com/bootstrap/">twitter Bootstrap</a>, <a href="http://expressjs.com/">express.js</a>, <a href="http://jade-lang.com/">Jade</a>, <a href="http://lesscss.org/">Less</a> and <a href="http://daringfireball.net/projects/markdown/">Markdown</a>. The beautiful cows above have been photographed by <a href="http://www.flickr.com/photos/69401216@N00">Pascal Vuylsteker</a>. All information about <a href="http://github.com/semu/node-blog">node-blog can be found at GitHub</a>…
  section#article
    .page-header
      h1 Recent Articles 
        small #{list.length} available, showing recent 5  
  - for (var i = 0; i < list.slice(0, 5).length; i++) 
    .row
      .span2.datefield
        code=list[i].datestring
      .span14.cLeft
        h3
          a(href=list[i].url) #{list[i].name} 
          small
            abbr.timeago(title=list[i].date.toISOString()) list[i].date.toISOString()
    .row
      .offset2.span14.cLeft
        #content!=list[i].excerpt          